@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --verde: #09A64B;
    --laranja: #E95C0C;
    --amarelo: #FFCC03;
    --azul: #1A9DD9;
    --branco: #FFFDF0;
    --preto: #1E1F1F;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(-45deg, #111111, var(--preto)) ;
    overflow: hidden;
}
.app {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.c-card_video {
    display: block;
    width: 100%;
    text-align: center;
}
.c-card_video__logo {
    display: block;
    margin: 0 auto;
    height: 150px;
    pointer-events: none;
}
.c-card_video__button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 0% 100%;
    color: var(--amarelo);
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid;
    border-image: repeating-linear-gradient(  var(--amarelo), var(--laranja) 60px ) 1;
    transition: background .3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}
.c-card_video__button:hover {
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}
.c-card_video__button > img {
    display: block;
    width: 18px;
    margin-right: 10px;
    pointer-events: none;
}
.space {
    --line: 20px;
    display: block;
    height: var(--line);
}
.c-render-video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    background-color: var(--preto);
    background-image: url(../image/loading.gif);
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: center center;
}
.c-render-video iframe {
    width: 100vw !important;
    height: calc(100vh - 15px ) !important;
}
.c-render-video.active {
    display: block;
}
.btn-close {
    display: block;
    width: 100%;
    background-color: var(--preto);
    color: var(--amarelo);
    font-family: monospace;
    font-size: 11px;
    text-align: right;
    padding: 5px;
}
.btn-close span {
    border: 1px solid var(--amarelo);
    padding: 0 3px;
    cursor: pointer;
}